# traefik.yml
api:
  dashboard: true
  insecure: false

ping:
  entryPoint: web

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
  file:
    filename: "/etc/traefik/dynamic.yml"
    watch: true

certificatesResolvers:
  le:
    acme:
      storage: "/acme.json"
      httpChallenge:
        entryPoint: web

  vault:   # new resolver that uses Vault ACME
    acme:
      caServer: "https://vault.oci.creatorsventure.com/v1/cv-intermediate-ca/acme/directory"
      storage: "/acme-vault.json"
      httpChallenge:
        entryPoint: web